/* --- section-info --- */

/* .section-info__container {
  // max-width: 895px;
  padding: 5px;
  margin-bottom: 20px;
} */

.section-info {
  margin-bottom: 25px;

  &__title--midle {
    font-size: 28px;
    letter-spacing: 0.56px;
    margin-bottom: 20px;
  }

  &__title--small {
    font-size: 22px;
    letter-spacing: 0.44px;
    margin-bottom: 50px;
  }
}

.form__item-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
}

.form__checkbox {
  width: 18px;
  height: 18px;
  margin-bottom: 0;
  //   accent-color: yellowgreen;
  //   accent-color: darkred;
  //   accent-color: #5729e9;
  //   accent-color: rgb(0 200 0);
  //   accent-color: hsl(228 4% 24%);
  accent-color: #8a33fd;
}

.form__label {
  color: #3c4242;
  font-family: Causten, sans-serif;
}

.form__item-box :not(:last-child) {
  margin-bottom: 12px;
}
