/* --- section-practice --- */

.section-practice {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 25px;
  
}

.section-practice__form {
  padding-left: 25px;
  padding-right: 25px;
}

.section-practice__text {
  display: block;
}

.section-practice__label:not(:last-child) {
  margin-bottom: 5px;
}

.section-items {
  display: flex;
  height: 32px;
}

.section-practice__input-color,
.section-practice__input-file {
  border: none;
}

input::file-selector-button {
  font-weight: bold;
  color: #8a33fd;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-right: 15px;
}

input[type="file"]::file-selector-button:hover {
  color: #ffffff;
  background-color: #8a33fd;
  border: 1px solid #8a33fd;
}

.section-practice__input-checkbox:hover,
.section-practice__input-color:hover,
.section-practice__input-file:hover,
.section-practice__input-image:hover,
.section-practice__input--radio:hover,
.section-practice__input-range:hover {
  outline: none;
  border: none;
}

.section-practice__input-checkbox {
  width: 25px;
}

.section-practice__input-color {
  padding: 5px;
  width: 35px;
  height: 39px;
}

.section-practice__input-image {
  padding: 5px;
  width: 50px;
  border: none;
}

.section-practice__select {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

.section-practice__input-range {
  border: none;
  accent-color: yellowgreen;
  accent-color: #8a33fd;
}

.section-practice__input--radio {
  width: 14px;
  margin-right: 15px;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  accent-color: #8a33fd;
}

.section-practice__input-search {
  content: "";
  background-color: #fff;
  background: 10px 50% / 10% url(../img/svg/search.svg) no-repeat;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 500;
}

/* custom checkbox  */

.section-items--green {
  position: relative;
}

.section-practice__input-checkbox--green {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.section-practice__label--green {
  font-size: toRem(16);
  color: #444;
  padding-left: 25px;
  padding-top: 2px;
  cursor: pointer;
}

.section-practice__label--green::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: opasity 0.1s linear, border 1s linear;
}

.section-practice__label--green::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;

  background: url(../img/svg/check_green.svg) no-repeat;
  background-size: 16px 16px;

  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
  opacity: 0;

  transition: opasity 0.1s linear;
}

.section-practice__input-checkbox--green:checked
  + .section-practice__label--green::before {
  // background-color: #49d120;
  border-color: #2c8b0f;
}

.section-practice__input-checkbox--green:checked
  + .section-practice__label--green::after {
  opacity: 1;
  
}
