/* Vars */

/*Fonts*/
$mainFont: 'Roboto', sans-serif;
$titleFont: 'Open Sans', sans-serif;

/*Color*/
$mainColor: #cbff00;
$darkGrey: #292c33;
$grey: #333333;
$greyLink: #666666;
$lightGrey: #e5e5e5;
$white: #ffffff;
$black: #000000;